*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

body{
    height: 100vh;
    background-image: url(image/spiral.jpg);
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    
}

.container{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-90%,-100%);
    padding: 20px 25px;
    width: 300px;
    background-color:rgba(241,223,343,.5);;
    box-shadow: 0 0 10px rgba(241, 225, 185, 0.3);
    background: linear-gradient(#dfd8ab,#ffc8a2,#cbaacb,#b4c6dc);
}
    
    

    .container h1{
        font-size: large;
        text-align: left;
        color: #3d5e69;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .container label{
        text-align: left;
        color:#6e6172;
    }

    .container form button{
        width: 50%;
        padding: 5px 0;
        border: none;
        background-color:#e1e2;
        font-size: 15px;
        color: #544e47;
        background: linear-gradient(#d8b5d9,#5e869c);
    }